$main : #1CC8EE;
$background1 : #1C1D1D;



@mixin H1_TC {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

@mixin H2_TC {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

@mixin H3_TC {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}


@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin ipad {
    @media (max-width:768px) {
        @content
    }
}

@mixin iphone {
    @media (max-width:568px) {
        @content
    }
}